* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 bold;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: url('04e88282ac36582e41a768e3076142b0.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #E0E2DB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 450px;
    z-index: 2;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 5px; 
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #2E3532;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button i {
    font-size: 20px;
}

.message {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

.message.correct {
    color: #4E6E5D;
}

.message.incorrect {
    color: #FF331F;
}

.next-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2E3532;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #45a049;
}
